/PLW/PLW/bin
/PLW/PLW/obj
/PLW/PLW.BL/bin
/PLW/PLW.BL/obj
/PLW/PLW.Data/bin
/PLW/PLW.Data/obj
/PLW/CommonService/bin
/PLW/CommonService/obj
/PLW/.vs
/PLW/Framework/bin
/PLW/Framework/obj
/PLW/IdentityServer/bin
/PLW/IdentityServer/obj
